<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>

<body>

    <header>
        <img
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/74/C.P._Company_logo.svg/1280px-C.P._Company_logo.svg.png">
        <h1>C.P. Company</h1>
    </header>
    <main>
        <div class="card">
            <div class="photo">
                <img
                    src="https://nahodim.com.ua/uploads/cars/new/lexus/nx/5af54b9f94d5da08a72389d2/slider_lexus_nx_nx_2018.jpg">
            </div>
            <div class="description">
                <p>
                    Силовая установка версии NX 300h представляет собой тандем 2,5-литрового ДВС и электромотора. Она
                    используется на других моделях марки (седанах ES, GS, IS и купе RC). Для нового кроссовера суммарная
                    мощность гибридной системы составит 145 кВт (197 л. с.).

                    Двигатель версии NX 200t представляет собой первый турбомотор бренда Lexus. Он получил название
                    8AR-FTS — 4-цилиндровый бензиновый двигатель объемом 1 998 куб.см. Как уверяет Lexus, двигатель
                    отличается уникальной комбинацией технических решений — он оснащается встроенным в головку блока
                    цилиндров выпускным коллектором с водяным охлаждением и турбокомпрессором с двойной улиткой
                    (твин-скролл). Среди новых технологий также названы прямой впрыск D-4ST, доработанный для
                    использования в турбодвигателях, и система изменения фаз газораспределения VVT-iW, которая при
                    необходимости продлевает фазу впуска и тем самым обеспечивает работу ДВС по циклу Аткинсона.

                    Двигатель работает в паре с 6-ступенчатой автоматической трансмиссией, адаптированной для NX.
                    Максимальная мощность составляет 175 кВт (238 л. с.) при 4800-5600 об/мин, а максимальный крутящий
                    момент равен 350 Нм при 1650-4000 об/мин.

                    Версия NX 200 будет предлагаться с передним и полным приводом. NX 200t и NX 300h будут доступны
                    только с полным приводом, однако на гибридном варианте он будет электрический (E-Four — задняя ось
                    работает только от электромотора).
                </p>
            </div>
        </div>
    </main>
    <!-- <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Lastname</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Alex</td>
                <td>Klar</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Alex</td>
                <td>Klar</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Alex</td>
                <td>Klar</td>
            </tr>
            <tr>
                <td>4</td>
                <td>Alex</td>
                <td>Klar</td>
            </tr>
            <tr>
                <td>5</td>
                <td>Alex</td>
                <td>Klar</td>
            </tr>
        </tbody>
    </table> -->

</body>

</html>